body {
    color: #e1e1e1;
    background-color: #1a1a1a;
}

#app {
	margin: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center
}

h1 {
    text-align: center;
}

.instance {
	width: 12.6rem;
	margin: 0 auto;
	height: 100%;
	border: 1px solid #e1e1e1;
	padding: 10px 10px 10px 10px;
}
